# Datendateien (werden automatisch generiert)
data/*

# Notebook Checkpoints
notebooks/.ipynb_checkpoints/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# Environment variables (contains secrets)
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints

# Logs
logs/*
*mlruns/*
wandb/*

# Model
checkpoints/

# Images
*.png

# Jsons
*.json

# Logs
*.log
lightning_logs/
